 .example-card{
    width: 700px;
    margin: 15% auto;
} 
mat-card-footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}

mat-card-header{
    display: flex;
    justify-content: center;
}

mat-card-content{
    display: flex;
    justify-content: space-around;
}

mat-form-field{
    padding: 0px 50px;
}
mat-card-title{
    display: flex;
    justify-content: center;
}
mat-card-subtitle{
    display: flex;
    justify-content: center;
}
.Cadastro{
    display: flex;
    justify-content: center;
    margin: 35px;    
}